{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Task 3 | User Login Management | Nevish Pathe</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
  </head>
  <body>
    <h1>Welcome to the Site</h1>
    <p>If you are new to the site, please Sign Up! or Log In if you already have an account</p
    <div class="buttons-container">
      <a class="button" href="/signup">Sign Up</a>
      <a class="button" href="/login">Login</a>
    </div>
  </body>
</html>
